.footer {
  position: absolute;
  bottom: 0;
  left: 35%;
  align-items: center;
  justify-items: center;
}

#footerText {
  font-size: 25px;
  margin: 30px;
}

.footerDiv {
  display: flex;
  flex-direction: row;
}

#liLogo {
  margin: 30px;
}

#ghLogo {
  margin: 30px;
}