.mainCard {
  width: 90%;
}

.mainCardText {
  font-size: 20px;
}

.portfolioSection {
  margin: auto;
  padding-top: 40px;
  min-width: 90%;
  min-height: 650px;
}

.pCar {
  width: 90%;
}

.miniWorkFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
}

img {
  margin: auto;
}

.descriptor {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

h3 {
  font-weight: bold;
}

.aboutTitle {
  padding-bottom: 10px;

}
h1 {
  font-weight: bold;
}

.portfolioImages {
  max-width: 50%;
}

.links {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content:space-evenly;
  margin: auto;
}

.moreLinks {
  display: flex;
  width: 50%;
  justify-content:space-evenly;
  margin: auto;
  padding-bottom: 20px;
}

button {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  background-color: #008C8F;
  color: white;
}