
.portfolioSection {
  margin: auto;
  padding-top: 40px;
  min-width: 90%;
  min-height: 650px;
}

.pCar {
  width: 90%;
}

.miniWorkFlex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
}

.descriptor {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.descriptorCard {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 30px;
  background-color:#008C8F;
  border-radius: 25px;;
  margin-bottom: 50px;
}

.aboutTitle {
  padding-bottom: 30px;
}

h1 {
  font-weight: bold;
}

.portfolioImages {
  width:1000px;
  height:500px;
  margin: auto;
}

.moreLinks {
  display: flex;
  width: 50%;
  justify-content:space-evenly;
  margin: auto;
}

button {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  background-color: #008C8F;
  color: white;
  margin-bottom: 30px;
}

.description {
  font-size: 30px;
  color: white;
  justify-self: center;
}

.techStack {
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.tech {
  font-size: 25px;
  color: grey;
}

h3 {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
}